body{   
    padding-top: 60px;
}

.colortext1{
    color: white;
    font-size: 18px;
}
.background-jumbo {
    background: url('../images/bg2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.footer-text1 {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
}

.footer-text2 {
    background-color: #ccc;
    color: #222222;
    border: 1px solid rgba(0, 0, 0, .125)
}